
*,ul{
    margin: 0;
    padding: 0;
    background-color: #02B7FF;
    
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

.logo{
    width: 200px;
}


.card{
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
}

.custom-bg{
    background-color: #02B7FF;
    color: #000;
}

.custom-btn{
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
}

.bordes {
    position: relative;
    font-weight: bold;
    color: white; /* Color del texto */
}

.bordes::before {
    content: ""; 
    position: absolute;
    top: -5px; left: -5px;
    right: -5px; bottom: -5px;
    border: 3px solid black; /* Grosor y color del borde */
    z-index: -1; /* Asegura que el borde esté detrás del texto */
}


/* Media Queries */

@media (min-width: 414px) and (max-width: 896px){
    
}

@media (min-width: 767px) and (max-width: 990px){
    
}

@media (min-width: 991px){
    
}